.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.textcontainer {
  width: 100%;
  min-height: 4em;
}

.textbubble {
  display: inline-block;
  padding: 1em;
  border-radius: 10px;
  max-width: 800px;
}

.prompt {
  background-color: #ebebeb;
  color: black;
  text-align: left;
  float: left;
}

.completion {
  background-color: #1e90ff;
  color: white;
  text-align: left;
  float:right;
  margin: 1em;
}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin: 1em;
}